<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @user.date_of_birth %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Street:</strong>
  <%#= set_value(@user.address.street) %>
  <%= @user&.address&.street %>
</p>

<p>
  <strong>City:</strong>
  <%#= set_value(@user.address.city) %>
  <%= @user&.address&.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user&.address&.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user&.address&.country %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @user&.company&.name %>
</p>

<p>
  <strong>Company street:</strong>
  <%= @user&.company&.address&.street %>
</p>

<p>
  <strong>Company city:</strong>
  <%= @user&.company&.address&.city %>
</p>

<p>
  <strong>Company zip code:</strong>
  <%= @user&.company&.address&.zip_code %>
</p>

<p>
  <strong>Company country:</strong>
  <%= @user&.company&.address&.country %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
